body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.navigation {
  position: relative;
  display: flex;
  width: 1200px;
  height: 56px;
  margin: 0 auto;

  font-size: 14px;
  color: #000000;

  background-color: #ffffff;
}

.header-logo img {
  position: absolute;

  margin: 0 calc(50% - 69px);
  z-index: 1;
}

.navigation-items {
  display: flex;
  width: 1200px;
  height: 56px;
  margin-left: -40px;
  text-align: center;
  list-style: none;
}

.navigation-items li {
  width: 239px;
  height: 56px;
}

.navigation-items li:nth-child(3) {
  margin-left: auto;
}

.navigation-items a {
  color: #000000;
}

.navigation-items a:hover {
  color: #81b3d2;
}

.navigation-items a:active {
  opacity: 0.3;
}

.navigation-items .active {
  color: #766357;
}

.wrap {
  text-align: center;
}

h3 {
  font-size: 21px;
}

.text {
  color: #333333;
  font-weight: 400;
}

.grey {
  background-color: #f3f3f3;
  margin-top: -8px;
}

h2 {
  font-size: 30px;
}

.search {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

button {
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
}

button:hover {
  background-color: #604e43;
}

button:active {
  opacity: 0.3;

  background-color: #503e33;
}

input {
  font-weight: 700;
  color: 000000;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.date input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.date input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.date input:hover+svg path {
  fill: #000000;
}

.date input:focus+svg path {
  fill: #81b3d2;
}

.search-form .button {
  width: 458px;
  height: 58px;
  font-size: 21px;
  font-weight: 700;
  margin-top: 54px;
  color: #ffffff;

  background-color: #81b3d2;
}

.search-form .button:hover {
  background-color: #669ec0;
}

.search-form .button:active {
  opacity: 0.3;

  background-color: #5496bd;
}

.copyright {
  display: flex;
  align-items: center;
  margin-right: 103px;
}

.copyright .text {
  width: 88px;
}

.copyright-link {
  display: block;
  margin-top: 10px;

}

.copyright-link svg {
  width: 114px;
  height: 40px;

}

.copyright-link:hover path {
  fill: #81b3d2;
}

.copyright-link:active path {
  opacity: 0.3;
}

.catalog-item {
  list-style: none;
}

h3 a:hover {
  color: #81b3d2;
}

h3 a:active {
  opacity: 0.3;
}

a.button {
  color: #ffffff;
  line-height: 21px;

  background-color: #81b3d2;
}

a.button:hover {
  background-color: #669ec0;
}

a.button:active {
  opacity: 0.3;

  background-color: #5496bd;
}

.bold {
  font-weight: 700;
}

.white {
  color: #ffffff;
}

fieldset {
  border: none;
  font-size: 16px;
}

fieldset ul {
  text-align: left;
}

fieldset button {
  border: 2px solid #ffffff;

  background-color: rgba(0, 0, 0, 0);
}

fieldset button:hover {
  color: #000000;

  background-color: #ffffff;
}

.filter ul {
  list-style: none;
}

.filter-option {
  margin-top: -2px;
  margin-bottom: 23px;
  font-size: 14px;
  font-weight: 400;
}

.filter-option label {
  cursor: pointer;
}

.check-box {
  position: absolute;
  width: 27px;
  height: 23px;
  margin-left: -40px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23"%3E%3Cpath fill="%23FFFFFF" d="M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z"/%3E%3C/svg%3E%0A');
  background-repeat: no-repeat;
}

.filter-input:checked+.check-box {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="27" height="23" viewBox="0 0 27 23"%3E%3Cpath fill="%23FFFFFF" d="M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z"/%3E%3Cpath fill="%23FFFFFF" d="M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z"/%3E%3C/svg%3E ');
}

.filter-input:disabled+.check-box {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23"%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill="%236a6a6a" d="M23 3v17c0 1.65-1.35 3-3 3H3c-1.65 0-3-1.35-3-3V3c0-1.65 1.35-3 3-3h17c1.65 0 3 1.35 3 3zm-3-1H3c-.542 0-1 .458-1 1v17c0 .542.458 1 1 1h17c.542 0 1-.458 1-1V3c0-.542-.458-1-1-1z"/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E ');
}

.filter-input:checked:disabled+.check-box {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="27" height="23" viewBox="0 0 27 23"%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill="%236a6a6a" d="M7.289 7.489L4.46 10.318l7.783 7.783L26.175 4.169 23.347 1.34 12.243 12.442z"/%3E%3C/g%3E%3Cg%3E%3Cpath fill="%236a6a6a" d="M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2z"/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.text-small {
  font-size: 12px;
  font-weight: 400;
}

.active {
  color: #81b3d2;
}

.not-active {
  cursor: pointer;
}

.sort .not-active {
  opacity: 0.3;

  border-bottom: 1px dotted #000000;
}

.sort .not-active:hover {
  color: #81b3d2;

  border-bottom: 1px dotted #81b3d2;
}

.sort .not-active:active {
  color: #000000;
}

.up-down path {
  fill: #cacaca;
}

.up-down .active path {
  fill: #81b3d2;
}

.up-down path:hover {
  fill: #000000;
}

.up-down path:active {
  fill: #81b3d2;
}

.up,
.down {
  cursor: pointer;
}

.footer .wrap {
  display: flex;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.footer h3 {
  margin-left: 129px;
}

.footer .social {
  margin-left: 41px;
}

.interesting {
  display: flex;
  width: 1200px;
  height: 291px;
  margin: 0 auto;
}

.interesting .wrap {
  width: auto;
  margin: 0 auto;
}

.interesting h2 {
  margin-top: 54px;
  margin-bottom: 40px;
}

.interesting .text {
  margin-top: -11px;
  margin-bottom: 45px;
  line-height: 25px;
}

.interesting .search {
  margin-top: 1px;
  width: 568px;
  height: 86px;
}

.introduce {
  display: flex;
  width: 1200px;
  height: 215px;
  margin: 0 auto;
}

.introduce .wrap {
  width: auto;
  margin: auto;
}

.introduce h3 {
  margin-top: 5px;
}

.introduce .text {
  margin-top: 28px;
}



.banner {
  display: flex;
  width: 1200px;
  height: 510px;
  margin: 0 auto;
  background-color: #5496bd;
  background:
    url('../img/intro-mask.svg') 0 101% no-repeat,
    url('../img/index-bg.jpg') 0 29%;

}

.banner-text {
  margin: 0 auto;
  margin-top: 76px;
}

.catalog {
  width: 1200px;
  margin: 0 auto;
}

.catalog-list {
  margin: 0;
  margin-left: -40px;
}

.catalog-item {
  display: flex;
  border-bottom: 1px solid #81b3d2;
}

.search-item {
  display: flex;
  width: 437px;
  height: 90px;
  margin-top: 30px;
  margin-left: 72px;
  margin-bottom: 30px;
}

.item-data {
  margin-left: 30px;
}

.item-data .button {
  display: block;
  width: 110px;
  height: 24px;
  margin-top: 10px;
  padding-top: 3px;
  text-align: center;
}

.item-data button {
  width: 142px;
  height: 27px;
  line-height: 27px;
  margin-top: 10px;
}

.item-name {
  margin: 0;
  margin-top: -5px;
}

.item-name a {
  color: #000000;
}

td .text {
  margin-left: -3px;
}

.raiting {
  margin-top: 30px;
  margin-right: 71px;
  margin-left: auto;
}

.raiting-star {
  margin-top: 0;
  text-align: right;
}

.raiting-star img {
  margin-left: 4px;
}

.raiting .text {
  width: 111px;
  height: 22px;
  margin-top: 41px;
  color: #666666;

  text-align: center;

  line-height: 21px;

  background-color: #f2f2f2;
}

.reasons {
  display: flex;
  width: 1200px;
  min-height: 256px;
  margin: 0 auto;
}

.reasons .wrap {
  display: flex;
}

.item {
  display: flex;
}

.blue {
  display: flex;
  width: 400px;
  min-height: 256px;
  margin-bottom: 8px;

  color: #ffffff;

  background-color: #81b3d2;
}

.data {

  margin: 0 auto;

}

.data h3 {
  margin-top: 47px;
  line-height: 20px;
}

.text.white:first-child {
  margin-top: 23px;
}

.text.white:last-child {
  margin-top: 18px;
  line-height: 24px;
}

.advantage {
  height: 330px;
}

.advantage .wrap .item {
  display: block;
  width: 400px;
  margin: auto;
}

.advantage .wrap .item:nth-child(3) {
  margin-top: 59px;
}

.advantage .img {
  margin-top: -26px;
}

.advantage .wrap .item:last-child .img {
  margin-top: -6px;
}

.advantage .item .text {
  line-height: 20px;
}

.grey .item {
  display: block;
  width: 400px;
  margin: auto;
  margin-top: 43px;
}

.reasons .grey .item h3 {
  margin-top: 2px;
  line-height: 22px;
}

.reasons .grey .item .text:last-child {
  margin-top: 18px;
  line-height: 22px;
}

.filter {
  display: flex;
  width: 1200px;
  margin: 0 auto;

  border-bottom: 1px solid #81b3d2;
}

.filter-wrap form {
  border: none;
}

.filter .wrap {

  height: 303px;
}

.filter-wrap {
  height: 217px;
  background-color: #2a3e45;
  background: url(../img/filter-bg.jpg) no-repeat 0 50%;
}

fieldset {
  margin-top: 24px;
}

fieldset:nth-child(3) {
  margin-left: auto;
  margin-right: 72px;
}

.check {
  width: 169px;
  height: 160px;
  margin-left: 60px;
}

.check:nth-child(2) {
  margin-left: 58px;
}

.filter-footer {
  display: flex;
}

.result {
  margin-left: 72px;
  margin-top: 32px;
}

.result h3 {
  margin: 0;
}

.sort {
  display: flex;

  margin-top: 32px;
  margin-left: 44px;
  height: 22px;
}

.sort div {
  text-align: left;
}

.sort div:first-child {
  margin-right: 36px;
}

.sort div:nth-child(2) {
  width: 82px;
}

.sort div:nth-child(3) {
  width: 52px;
}

.sort div:last-child {
  margin-left: 30px;
}

.up-down {
  margin-top: 31px;
  margin-right: 73px;
  margin-left: auto;
}

.map {
  display: flex;
}

.map .wrap {
  width: 1200px;
  height: 471px;
  margin: 0 auto;
  background: url('../img/map.jpg') no-repeat;
}

.search-form form {
  width: 458px;
  height: 153px;
}

form .date {
  text-align: left;
}

.date input {
  position: absolute;
  width: 335px;
  height: 37px;
  top: -7px;
  right: 0;
  padding-left: 14px;
  text-transform: uppercase;

}



.date label {
  position: relative;
  display: block;
  width: 458px;
  margin-top: 6px;
  margin-bottom: 41px;
}

.date label[value] {
  vertical-align: middle;
}

label svg {
  position: absolute;
  right: 12px;
  top: 1px;
}

.members {
  display: flex;
  justify-content: space-between;
}

.members-box {
  position: relative;
  width: 226px;
  text-align: left;
}

.choice {
  display: flex;
  position: absolute;
  width: 114px;
  right: 0;
  top: -6px;
  background-color: #f2f2f2;
}

.adults .choice {
  left: 104px;
}

.choice-box {
  box-sizing: border-box;
  position: relative;

  width: 38px;
  height: 38px;

  text-align: center;
  vertical-align: middle;

  cursor: pointer;
}

.choice-box svg {
  width: 12px;
  height: 12px;
  top: 13px;
  left: 13px;
  fill: #a9a9a9;
}

.choice-box:hover svg {
  fill: #000000;
}

.choice-box:active svg {
  fill: #81b3d2;
}

.children {
  width: 179px;
}

.social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus {
  background-color: #5496bd;
}

.social-button:focus path {
  opacity: 0.3;
}

/* filter-range ------------------------------------------------------------------------*/

.filter-range {
  width: 317px;
  margin-top: 26px;
  margin-left: 303px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  margin-top: 15px;

  height: 30px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 28px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 32px;
}

.price-controls .min-price {
  padding-right: 25px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 7px;
  height: 7px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-left: 84px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/* filter-range -----------------------------------------------------------------------*/

@keyframes bounce {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(100%);
  }
}

.search-form .wrap.modal {
  display: block;
  animation-name: bounce;
  animation-duration: 2s;
}

.search-form {
  display: flex;
  width: 1200px;
  height: 395px;
  margin: 0 auto;
  margin-bottom: -395px;
}

.search-form .wrap {
  display: none;

  width: 568px;
  margin: 0 auto;
  background-color: #ffffff;

  z-index: 1;
}

.search-form form {
  /* display: none; */
  padding: 55px;
}

.item .text {
  width: 300px;
  margin: 0 auto;
}
